name: Unit tests

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          package-manager-cache: false

      - name: Enable Corepack
        shell: bash
        run: corepack enable

      - name: Activate Yarn version from package.json
        shell: bash
        run: corepack install

      - name: Use yarn cache
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            .yarn/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        shell: bash
        run: yarn install --immutable

      - name: Run tests
        run: yarn test
